@using Preschool.Models.ViewModels;
@model IEnumerable<Attendance>

@{
    var eveyDayAttendance = (from attendance in Model
                               group attendance by attendance.Date.Day into everydayAttendance
                               orderby everydayAttendance.Key
                               select new ChildAttendanceVM
                                   {
                                       Id = everydayAttendance.Key,
                                       Date = everydayAttendance.Select(a => a.Date).FirstOrDefault(),
                                       EnterTime = TimeOnly.FromDateTime(everydayAttendance.Select(a => a.Date).Min()),
                                       ExitTime = TimeOnly.FromDateTime(everydayAttendance.Select(a => a.Date).Max())
                                   }).OrderByDescending(a =>a.Date).ToList();
}


<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Enter
            </th>
            <th>
                Exit
            </th>
            <th>
                Hours
            </th>
        </tr>
    </thead>
    <tbody id="myTable-1" class="table-body">
        <!-- Add a placeholder for the last ten rows -->
        @* @foreach (var item in eveyDayAttendance.Skip(Math.Max(0, eveyDayAttendance.Count - 10))) *@
            @foreach (var item in eveyDayAttendance.Take(10))

        {
            <tr class="table-row">
                <td>
                    @item.Date.Date.ToString("yyyy/MM/dd")
                </td>
                <td>
                    @item.EnterTime
                </td>
                <td>
                    @item.ExitTime
                </td>
                <td>
                    @item.AttendanceHours()
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Add a button to show more rows -->
<button class="btn btn-sm  btn-info" style="height:25px;width:100px" id="showMoreButton-1">Show More &gt </button>

<br />
<br />
<br />
<br />

